.tasks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.empty-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
